<c-vars chips :freeform=False freeform_text="Write my own" />

<div id="ai-panel-chip-row"
     class="p-2 flex flex-wrap gap-3"
     role="radiogroup"
     aria-label="Choose an action"
     {% if oob %}hx-swap-oob="true"{% endif %}
     {{ attrs }}>
  {% for chip in chips %}
    <c-ai.chip emoji="{{chip.emoji}}" name="ai-chip" color="{{chip.color}}" x-model="aiPanelChip">{{chip.value}}</c-ai.chip>
  {% endfor %}
  {% if freeform %}
    <c-ai.chip emoji="✏️" name="ai-chip" color="rainbow" value="freeform" x-model="aiPanelChip">{{ freeform_text }}</c-ai.chip>
  {% endif %}
</div>
