{% comment %}Save Button{% endcomment %}
<button type="{{ type|default:'submit' }}"
        @mousedown.prevent
        class="relative inline-flex items-center justify-center rounded-t-md bg-white p-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-green-50 hover:text-green-600 focus:z-10 {{ extra_classes }}"
        title="Save ({{ shortcut|default:'Cmd+Enter' }})">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
    </svg>
</button>