<c-vars story />

<div class="max-w-7xl mx-auto">
  <div class="flex items-center justify-between">
    <div class="flex items-center space-x-2">
      <c-fields.input hx-patch="{% url 'api-1:update_story' key=story.uuid %}"
                      hx-trigger="keyup changed delay:1s"
                      hx-ext='json-enc'
                      name="title"
                      value="{{ story.title }}"
                      label="Title"
                      placeholder="Enter story title"
                      addClass="uppercase text-2xl font-medium"
                      autocapitalize="on"/>
    </div>

    <a href="{% url 'stories:stories' %}" class="inline-flex items-center px-4 py-2 text-sm font-medium hover:bg-gray-50 border border-light-gray uppercase tracking-wider rounded">
      <i class="fa-solid fa-arrow-left mr-2"></i>
      Back to Stories
    </a>
  </div>

  <div class="mt-4 bg-white shadow overflow-hidden sm:rounded-md border border-light-gray p-6">
    <div class="flex items-center justify-between">
      <div class="flex-1">
        <c-fields.textarea  hx-patch="{% url 'api-1:update_story' key=story.uuid %}"
                            hx-trigger="keyup changed delay:1s"
                            hx-ext='json-enc'
                            name="description"
                            label="Description"
                            placeholder="Click to add a description">{{ story.description }}</c-fields.textarea>
      </div>
    </div>
  </div>

  <div class="mt-8">
    <div class="flex items-center justify-between">
      <h2 class="text-xl font-medium text-black uppercase tracking-wide">Pages</h2>
    </div>

    <div id="story-pages" class="mt-4 space-y-6">
      {% for page in story.pages.all %}
        <c-story.page :page="{{ page }}" />
      {% endfor %}

      {% if not story.page_count %}
        <div class="text-center {% if not story.page_count %}shadow sm:rounded-md border border-light-gray p-6 {% endif %}">
          <p class="text-gray">This story doesn't have any pages yet.</p>
        </div>
      {% endif %}
    </div>

    <c-story.page.new-page-button :story="{{ story }}" />
  </div>
</div>
