<div id="add-page" {% if oob %}hx-swap-oob="true"{% endif %} class="text-center">
  <div class="mt-4">
    <button hx-post="{% url 'api-1:create_page' story.uuid %}"
            hx-target="#story-pages"
            {% if story.page_count %}hx-swap="beforeend"{% else %}hx-swap="innerHTML"{% endif %}
            hx-ext='json-enc'
            class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-black hover:bg-dark-gray uppercase tracking-wider rounded transition-colors">
      <i class="fa-solid fa-plus mr-2"></i>
      Add {% if story.page_count %}New{% else %}First{% endif %} Page
    </button>
  </div>
</div>
