{% load partials %}

<c-vars story />

<div id="story-{{ story.uuid }}"
     hx-ext="sse"
     sse-connect="{% url 'stories:events' story_uuid=story.uuid %}"
     class="max-w-7xl mx-auto overflow-auto">
  <div class="flex items-center justify-between">
    <div class="flex items-center space-x-2">
      {% comment %} <c-button id="revise-story" icon="wand-magic-sparkles" class="hover:text-purple-600" /> {% endcomment %}
      <c-htmx.sse hx-get="{% url 'api-1:get_story_title' story_uuid=story.uuid %}" event="get_story_title" />
      <c-stories.title :story=story />
      <c-ai.chip name="ai-chip"
                 type="button"
                 emoji="✍️"
                 color="purple"
                 hx-post="{% url 'api-1:ai_story_title' %}"
                 hx-ext='json-enc'
                 hx-vals='{"story_uuid": "{{ story.uuid }}"}'>Suggest</c-ai.chip>
    </div>

    <c-button icon="arrow-left"
               hx-get="{% url 'api-1:list_stories' %}"
               hx-target="#dashboard-content"
               hx-push-url="{% url 'stories:stories' %}" />
  </div>

  <div class="mt-4 bg-white shadow overflow-hidden sm:rounded-md border border-light-gray p-6">
    <div class="flex items-center justify-between">
      <div class="flex-1">
        <h4 class="font-medium text-black mb-1">Story Outline</h4>
        <c-htmx.sse hx-get="{% url 'api-1:get_story_description' story_uuid=story.uuid %}" event="get_story_description" />
        <c-stories.description :story=story />
        <c-ai.chip name="ai-chip"
                   type="button"
                   emoji="✍️"
                   color="purple"
                   hx-post="{% url 'api-1:ai_story_description' %}"
                   hx-ext='json-enc'
                   hx-vals='{"story_uuid": "{{ story.uuid }}"}'>Suggest</c-ai.chip>
      </div>
    </div>
  </div>

  <div class="mt-8">
    <div class="flex items-center justify-between">
      <h2 class="text-xl font-medium text-black uppercase tracking-wide">Pages</h2>
    </div>

    <c-stories.page.list :story=story />

    <c-stories.page.new-page-button :story=story />
  </div>
</div>
