{% load partials %}

<c-vars story />

<div class="max-w-7xl mx-auto {% comment %}md:mr-80 md:ml-auto{% endcomment %}">
  <div class="flex items-center justify-between">
    <div class="flex items-center space-x-2">
      <c-buttons id="revise-story"
                 icon="wand-magic-sparkles"
                 addClass="hover:text-purple-600" />

      <c-fields.input hx-patch="{% url 'api-1:update_story' story_uuid=story.uuid %}"
                      hx-trigger="keyup changed delay:1s"
                      hx-ext='json-enc'
                      name="title"
                      value="{{ story.title | default_if_none:'' }}"
                      label="Title"
                      placeholder="Enter story title"
                      addClass="text-2xl font-medium"
                      autocapitalize="on"/>
    </div>

    <c-buttons icon="arrow-left"
               hx-get="{% url 'api-1:list_stories' %}"
               hx-target="#dashboard-content"
               hx-push-url="{% url 'stories:stories' %}" />
  </div>

  <div class="mt-4 bg-white shadow overflow-hidden sm:rounded-md border border-light-gray p-6">
    <div class="flex items-center justify-between">
      <div class="flex-1">
        <c-fields.textarea  hx-patch="{% url 'api-1:update_story' story_uuid=story.uuid %}"
                            hx-trigger="keyup changed delay:1s"
                            hx-ext='json-enc'
                            name="description"
                            label="Description"
                            placeholder="Click to add a description">{{ story.description | default_if_none:'' }}</c-fields.textarea>
      </div>
    </div>
  </div>

  <div class="mt-8">
    <div class="flex items-center justify-between">
      <h2 class="text-xl font-medium text-black uppercase tracking-wide">Pages</h2>
    </div>

    <c-stories.page.list :story=story />

    <c-stories.page.new-page-button :story=story />
  </div>
</div>

{% comment %}<c-ai.panel>Panel</c-ai.panel>{% endcomment %}
