<textarea name="{{ name }}"
          rows="{{ rows|default:4 }}"
          class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent bg-white text-gray resize-none flex-grow {{ extra_classes }}"
          placeholder="{{ placeholder|default:'Enter text...' }}"
          {% if autofocus %}x-init="$el.focus()"{% endif %}
          {% if disabled %}disabled{% endif %}
          {% if get_url %}
          hx-get="{{ get_url }}"
          hx-trigger="keyup[key=='Escape'] from:body"
          hx-target="{{ target|default:'closest form' }}"
          hx-swap="{{ swap|default:'outerHTML' }}"
          {% endif %}>{{ value|default:'' }}</textarea>
