<div id="story-pages" class="mt-4 space-y-6">
    {% for page in story.pages.all %}
      <c-htmx.sse hx-get="{% url 'api-1:get_page' story_uuid=story.uuid page_uuid=page.uuid %}" event="get_page" key="{{ page.uuid }}" />
      <c-stories.page :page=page />
    {% endfor %}

  {% if not story.page_count %}
    <div class="text-center {% if not story.page_count %}shadow sm:rounded-md border border-light-gray p-6 {% endif %}">
      <p class="text-gray">This story doesn't have any pages yet.</p>
    </div>
  {% endif %}
</div>
